CONFIG_HILOG=y
CONFIG_HILOG_BUFFER_SIZE=4096
CONFIG_HIEVENT=y
CONFIG_BBOX_BUFFER_SIZE=2048
CONFIG_HISYSEVENT=y
CONFIG_DFX_ZEROHUNG=y
CONFIG_DFX_HUNGTASK=y
CONFIG_DFX_HUNGTASK_USER=y

#
# Blackbox Options
#
CONFIG_BLACKBOX=y
CONFIG_BLACKBOX_LOG_ROOT_PATH=""
CONFIG_BLACKBOX_LOG_PART_REPRESENTATIVE=""
# CONFIG_BLACKBOX_STORAGE_BY_MEMORY is not set
# CONFIG_BLACKBOX_USE_PSTORE_BLK_DEBUG is not set
# CONFIG_BLACKBOX_STORAGE_BY_RAW_PARTITION is not set
# end of Blackbox Options

#
# Android
#
CONFIG_BINDER_TRANSACTION_PROC_BRIEF=y

#
# OpenHarmony HDF drivers
#
CONFIG_DRIVERS_HDF=y
CONFIG_HDF_SUPPORT_LEVEL=2
CONFIG_DRIVERS_HDF_PLATFORM=y
CONFIG_DRIVERS_HDF_PLATFORM_GPIO=y
CONFIG_DRIVERS_HDF_PLATFORM_I2C=y
CONFIG_DRIVERS_HDF_PLATFORM_SPI=y
CONFIG_DRIVERS_HDF_PLATFORM_UART=y
CONFIG_DRIVERS_HDF_PLATFORM_PWM=y
CONFIG_DRIVERS_HDF_PLATFORM_ADC=y
CONFIG_DRIVERS_HDF_PLATFORM_RTC=y
CONFIG_DRIVERS_HDF_PLATFORM_TRACE=y
CONFIG_DRIVERS_HDF_PLATFORM_DUMPER=y
CONFIG_DRIVERS_HDF_DISP=y
CONFIG_DRIVERS_HDF_SENSOR=y
CONFIG_DRIVERS_HDF_USB_PNP_NOTIFY=y
CONFIG_DRIVERS_HDF_AUDIO=y
CONFIG_DRIVERS_HDF_VIBRATOR=y
CONFIG_DRIVERS_HDF_LIGHT=y

#
# Access Token ID
#
CONFIG_ACCESS_TOKENID=y

#
# HMDFS
#
CONFIG_HMDFS_FS=y
CONFIG_HMDFS_FS_ENCRYPTION=y
CONFIG_HMDFS_FS_PERMISSION=y

#
# Unified Collection
#
CONFIG_UNIFIED_COLLECTION=y

#
# Hyperhold
#
CONFIG_HYPERHOLD=y
CONFIG_HYPERHOLD_ZSWAPD=y
CONFIG_HYPERHOLD_FILE_LRU=y
CONFIG_HYPERHOLD_MEMCG=y
CONFIG_ZRAM_GROUP=y

#
# HCK
#
CONFIG_HCK=y
CONFIG_HCK_VENDOR_HOOKS=y

CONFIG_ARCH_SPRD=n
